html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    font-family: 'Arial';
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #fcba03;
    color: #2f2f30;
    border-top: 1px solid #fcba30;
    padding-top: 20px;
    font-family: 'Arial';
}

.jumbotron {
    text-align: center;
    color: #343a40;
    background-color: #fcba03;
    font-family: 'Arial';
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
body {
    background-color: #2f2f30;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial';
    color: #fcba03;
}
.well-red {
   background-color: #fcba03;
}

.navbar-inverse {
    background-color: #fcba03;
}

.navbar-inverse .navbar-nav > li > a {
    color: #2f2f30;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #6E6E7D;
}

.navbar-inverse .navbar-brand {
    color: #2f2f30;
}
.navbar-inverse .navbar-brand:hover {
    color: #6E6E7D;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: none;
}

a{
    color: #fcba03;
}
a:hover{
    text-decoration: none;
    color: #6E6E7D;
}
.btn-primary, .btn-primary:focus {
    background-color: #fcba03;
    border-color: #2f2f30;
    color: #2f2f30;
}
.btn-primary:hover, .btn-primary:active {
    
    background-color: #2f2f30;
    border: #2f2f30;
    color: #fcba03;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #2f2f30;
}
h3, h4 {
    color: #2f2f30;
}

.breadcrumb {
    background-color: #2f2f30;
    border: 10px;
    border-color: #fcba03;
    color: #fcba03;
}

.col-md-3 {
    border: none;
    margin-left: 73px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fcba03;
    color: #2f2f30;
}

.pagination > li > a, .pagination > li > span {
    background-color: #2f2f30;
    border: 1px solid #fcba30;
    color: #fcba30;
}

.pagination > li > a:hover, .pagination > li > span:hover {
    background-color: #fcba30;
    border: 1px solid #fcba30;
    color: #2f2f30;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #fcba30;
    border: 1px solid #fcba30;
    color: #2f2f30;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #fcba30;
    border: 1px solid #fcba30;
}

.table-bordered {
    border: 1px solid #fcba30;
}
.txt-yllw {
    color: #fcba30 !important;
}
.btn-success, .btn-success:enabled {
    background-color: #fcba03;
    border-color: #2f2f30;
    color: #2f2f30;
}

.btn-success:hover, .btn-btn-success:active {
    
    background-color: #2f2f30;
    border: #2f2f30;
    color: #fcba03;
}
tr:nth-child(odd) .glyphicon {
    color: #2f2f30 !important;
}
.pull-right a {
    color: #6E6E7D;
}
.posicionado {
    height: 400px;
    width: 550px;
}
.posicionado-arriba {
    height: 250px;
    width: 550px;
}
.separador {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-color: #fcba30;
}
.contenido {
    margin-top:520px;  
}
.posicionado-inicio {
    height: 450px;
    width: 400px;
    margin-top: 25px;
    margin-left: 45%;
}
.txt-blk {
    color: #2f2f30;
}
.centrado {
    margin-right: 46%;
    transform: translateY(35%);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
.main-news .col-md-4 {
    margin-bottom: 30px;
}
.mn-img {
    margin: 3%;
    position: relative;
}

.mn-title {
    position: absolute;
    top: 250px;
    left: 30px;
}
.mn-title a {
    font-size: 25px;
}
.mn-title a:hover {
    font-size: 25px;
    color: #343a40;
}
.darkening {
    filter: brightness(50%);
}
.contenido2 {
    margin-top:380px;  
}